<html lang="kr" xmlns:th="http://www.thymeleaf.org">
<head>
  <meta charset="utf-8">
  <title>Categories in DB</title>
  <style>
      table, th, td {
        border: 1px solid #bcbcbc;
      }
      table {
        width: 800px;
        height: 60px;
      }
    </style>
</head>
<table>
  <thead>
  <tr>
    <th>category_id</th>
    <th>category_name</th>


  </tr>
  </thead>
  <tbody>
  <tr th:each="category : ${categoryList}">
    <td th:text="${category.categoryId}"></td>
    <td th:text="${category.categoryName}"></td>
  </tr>
  </tbody>
</table>