<html lang="kr" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="utf-8">
    <title>Members in DB</title>
    <style>
      table, th, td {
        border: 1px solid #bcbcbc;
      }
      table {
        width: 800px;
        height: 60px;
      }
    </style>
</head>
<table>
    <thead>
    <tr>
        <th>member_id</th>
        <th>user_id</th>
        <th>user_info</th>
        <th>user_name</th>
        <th>user_email</th>
    </tr>
    </thead>
    <tbody>
    <tr th:each="member : ${memberList}">
        <td th:text="${member.memberId}"></td>
        <td th:text="${member.userId}"></td>
        <td th:text="${member.userInfo}"></td>
        <td th:text="${member.userName}"></td>
        <td th:text="${member.userEmail}"></td>
    </tr>
    </tbody>
</table>