<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <title>Join</title>
</head>
<style>
    .layout{
        width : 500px;
        margin : 0 auto;
    }

</style>
<body>
<div class="layout">
  <form action="/join" method="post">
    <input name="user_id" type="text" value="ID">
    <input name="user_name" type="text" value="NAME">
    <input name="user_email" type="text" value="email">
    <input name="user_info" type="text" value="PassWord">
    <button type="submit">작성</button>
  </form>

</div>
</body>
</html>