<html lang="kr" xmlns:th="http://www.thymeleaf.org">
<head>
  <meta charset="utf-8">
  <title>templates in DB</title>
  <style>
      table, th, td {
        border: 1px solid #bcbcbc;
      }
      table {
        width: 800px;
        height: 60px;
      }
    </style>
</head>
<table>
  <thead>
  <tr>
    <th>templateDocId</th>
    <th>templateId</th>
    <th>QuestionId</th>
    <th>QuestionOrder</th>
  </tr>
  </thead>
  <tbody>
  <tr th:each="templateDoc : ${templateDocList}">
    <td th:text="${templateDoc.templateDocId}"></td>
    <td th:text="${templateDoc.templateId}"></td>
    <td th:text="${templateDoc.questionId}"></td>
    <td th:text="${templateDoc.questionOrder}"></td>
  </tr>
  </tbody>
</table>