<html lang="kr" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="utf-8">
    <title>templates in DB</title>
    <style>
      table, th, td {
        border: 1px solid #bcbcbc;
      }
      table {
        width: 800px;
        height: 60px;
      }
    </style>
</head>
<table>
    <thead>
    <tr>
        <th>template_id</th>
        <th>templateName</th>
        <th>templateOwner</th>
        <th>createdAt</th>
        <th>isPublic</th>
    </tr>
    </thead>
    <tbody>
    <tr th:each="template : ${templateList}">
        <td th:text="${template.templateId}"></td>
        <td th:text="${template.templateName}"></td>
        <td th:text="${template.templateOwner}"></td>
        <td th:text="${template.createdAt}"></td>
        <td th:text="${template.isPublic}"></td>
    </tr>
    </tbody>
</table>